 .buttonCenter{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

#successSec{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    width: 668px;
    height: 800px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px 50px;
    @media (max-width: 768px) {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        gap: 0px;
      }
    @media ( max-height: 800px) {
      width: 100vw;
        height: 100vh;
        border-radius: 0px;
        gap: 0px;
    }
}

.titleImage{
      @media (max-width: 768px) {
        width: 110px;
        height: 110px;
      }
    }