button{
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.smallButton{
    width: 81px;
    height: 40px;

    color: #FFF;
    background: #0DBDBD;
    border-radius: 10px;
    @media (max-width: 768px) {
        width: 100%;
      }
}

.bigButton{
    width: 269px;
    height: 150px;
    color: #FFF;
    font-size: 1.7rem;
    background: #0DBDBD;
    border-radius: 10px;
}